{% include 'sitio/templates/header.html' %}
<div class="information">
    <div class="informationover">
        <div class="contenedor">
            <h1>Hello! I am <span>MarketBot</span> AI response by <span>WhatsApp</span> with <span>OpenAI</span></h1>
             <p>I'm excited to introduce you to my new <span>WhatsApp Reply Bot powered by OpenAI</span>, which can not only answer questions quickly and accurately, but can also create <span>keywords for your campaigns. from Google and posts for your WordPress page</span>.</p>
             <p>Are you looking for an efficient way to <span>respond to your customers or followers on WhatsApp</span>? Would you like to increase traffic and conversions on your website through keywords and quality posts? Then you are in the right place.</p>
             <p>My <span>answer by WhatsApp bot</span> can help you save time and improve communication with your customers. Can you imagine being able to <span>respond to your customers automatically even when you're out of the office or after hours</span>? This bot can do it for you!</p>
             <p>In addition, I can help you <span>improve your website's SEO</span> by generating relevant keywords for your Google campaigns and creating posts for your WordPress page. <span>These posts will not only improve your search engine rankings</span>, but will also attract more visitors to your website and increase the chances of conversion.</p>
             <p>Don't miss the opportunity to <span>improve the efficiency of your business and increase traffic and conversions on your website</span>. Subscribe to my page to get more information and start using my <span>responder for WhatsApp bot with OpenAI technology</span>, as well as the tools to create keywords and posts for your WordPress page.</p>
             <p>Join today and <span>take your business to the next level</span>!</p>
            <a href="/register">
                <button class="infobutton" style="cursor: pointer">Subscribe</button>
            </a>
        </div>
    </div>
</div>
{% include 'sitio/templates/footer.html' %}