{% include 'sitio/templates/header.html' %}
<body>
<div class="bot__señal">
    <div class="bot__content">
        <div class="bot__img">

        </div>
        <div class="bot__text">
            <h2 class="bot__title"><span>Marketing</span> and More</h2>
            <p class="bot__textp"><span>Marketbot</span> services are not limited to smart chat, we have a wide range of services, such as: <span>campaign automation, keyword optimization, user acquisition.</span></p>
            <p class="bot__textp">Thanks to the information obtained, we can capture users based on your page and we <span>optimize the campaign</span> with the information from your page and products.</p>
            <a href="/login" class="bot__btn--link">Register</a>
        </div>
    </div>
</div>
</body>
{% include 'sitio/templates/footer.html' %}